.calculator {
  max-width: 400px;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.calculator-screen {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 20px;
}

.calculator-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.calculator-keys button {
  padding: 15px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  background-color: #f2f2f2;
}

.calculator-keys button:hover {
  background-color: #e6e6e6;
}

.key-clear {
  grid-column: span 2;
}
